/* 타입선택자(태그선택자) */
pre{
    text-align : center;
}

h1{
    text-align: right;
    color: blue;
}

/* id 선택자 */
#sid01{
    color: green;
}
#sid02{
    color: yellow;
}
#sid03{
    color: blue;
}
#scls01{
    color: black;
}

/* class 선택자 */
.scls{
    color: hotpink;
}

.cls{
    background-color: blue;
}

/* 전체선택자 */
/* 
*{
    text-align: right;
    margin: 0;
    padding: 0;
}
*/

/* 자식선택자 */
#did > div > p{
    color: silver;
}

#did > p{
    color: orange;
}

/* 인접선택자 */
h3 + b{
    background-color: black;
    color: white;
}

span + b{
    background-color: yellow;
    color: brown;
}

/* 속성 선택자 */
/* 태그 속성들을 대부분 사용 가능 (모두 되는것은 아님) */
p[title]{
    color: skyblue;
}
p[name]{
    color: red;
}
p[title="b"]{
    background-color: yellow;
}

/* 가상 클래스 선택자 */
a:link{
    color: pink;
    font-size: 20pt;
}
a:visited{
    color: red;
}
a:hover{
    background-color: purple;
}
input:checked{
    width: 200px;
    height: 200px;
}

/* 종속 선택자 */
li.acls01{
    background-color: green;
}
li.acls02{
    background-color: yellow;
}
li.acls02#sidli{
    color: red;
}

/* 하위 선택자 (띄어쓰기(공백)사용) */
div span{
    background-color: yellow;
}

/* 그룹 선택자 */
p, pre, strong{
    color: lime;
}